button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.botonCarrito {
    color: var(--color-prin);
    height: 30px;
    width: auto;
}

.botonCarrito:hover {
    cursor: pointer;
    color: var(--color-det-prem);
}