* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-prin: #a0522d;
  --color-sec: #87a96b;
  --color-bg-prin: #f5e6d3;
  --color-det-prem: #d4a437;
  --color-det-fem: #c47a6d;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 82px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg-prin);
  margin: 0;
  overflow-x: hidden;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: var(--color-bg-prin);
  color: var(--color-prin);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 700;
    color: var(--color-prin);
}

.logo img {
  width: 50px;
  height: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--color-prin);
    font-weight: bold;
    transition: color 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.navbar a:hover {
  color: var(--color-det-prem);
}

/*Footer*/
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--color-prin);
  color: white;
  width: 100%;
  /* margin: 0; */
  margin-top: 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 700;
}

.footer-section a {
    color: var(--color-bg-prin);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.footer-section a:hover {
  color: var(--color-det-prem);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.copyright {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 40px;
  color: white;
  border-top: 1px solid var(--color-det-prem);
  padding-top: 15px;
}

/* PAGINA PRINCIPAL */

    /* Carrito */
.carrito-icono {
    position: relative;
    font-size: 1.5rem;
    margin-top: 10px;
}

    /* Contador */
.carrito-icono span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #D4A437;
    color: #F5E6D3;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: bold;
}

/*Hero Banner*/
.hero-banner {
    min-height: 75vh;
    height: auto;
    background: url('Kit-de-imágenes/Butaca-Mendoza.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--color-prin);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.hero-content p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

/*Button CTA*/
.button-cta {
    text-decoration: none;
    background-color: var(--color-det-prem);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.button-cta:hover {
    background-color: var(--color-sec);
}

/*Sobre Nosotros*/
.sobre-nosotros {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  color: black;
  line-height: 1.7;
}

.sobre-nosotros h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
  color: black;
  font-family: 'Playfair Display', Georgia;
  font-weight: 400;
}

.sobre-nosotros p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.sobre-nosotros strong {
  font-weight: 700;
  color: black;
}

/*Productos*/
.productos-destacados {
  padding: 2rem;
  text-align: center;
}

.productos-destacados h2{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-prin);
    font-family: 'Playfair Display', Georgia;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.producto {
    width: 100%;
    max-width: 300px; 
    background-color: var(--color-bg-prin);
    border: 1px solid var(--color-prin);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.producto:hover {
    background-color: white;
    cursor: pointer;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

/* PAGINA PRODUCTOS */

/* Search */

#buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#buscador i,
form {
  margin: 16px 0;
}

#buscador form input {
  background-color: white;
}

.fa-solid {
  width: 16px;
  height: 16px;
  color: var(--color-prin);
}

/* Productos */

#seccion-productos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 350px;
  background-color: white;
  border: 1px solid black;
  transition: border-width 0.1s ease;
}

.card:hover {
  border-width: 2px;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: auto;
  background-color: white;
}

.card h2,
strong {
  background-color: var(--color-sec);
}

.card button {
  background-color: var(--color-det-prem);
  font-weight: bold;
  transition: border-width 0.2s ease;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card button:hover {
  background-color: var(--color-det-fem);
  cursor: pointer;
}

/* PAGINA CONTACTO */

.contacto-container {
  margin: 20px 15px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.contacto-container h1 {
  text-align: center;
  margin-bottom: 8px;
  color: var(--color-det-prem);
  font-size: 1.5rem;
}

.contacto-container p {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: bold;
  color: var(--color-prin);
  font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--color-det-prem);
  outline: none;
}

button {
  align-self: center;
  background: var(--color-det-prem);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  max-width: 200px;
}

button:hover {
  background: #b88a2f;
}

.success-message {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 0.9rem;
}

/* PAGINA PRODUCTO */
.contenedor-producto {
  padding: 1rem;
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.imagen img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

#nombre{
  font-size: 1.25rem;
  margin: 0;
}

.precio{
  font-size:1.5rem;
  font-weight:700;
  margin:0;
}

.especificaciones table { width:100%; border-collapse:collapse; font-size:.95rem; }
.especificaciones th, .especificaciones td { text-align:left; padding:.35rem 0;}

/*Tablets*/
@media (min-width: 440px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1.1rem;
  }
  .button-cta {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem 1.2rem;
    justify-content: space-between;
  }

  .producto {
    width: 60%;
    max-width: 300px;
  }

    #seccion-productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .carrito-icono {
        font-size: 1.7rem;
        margin-top: 10px;
    }
    .carrito-icono span {
        font-size: 0.8rem;
        padding: 3px 7px;
    }

        /*  */

    .contenedor-producto{grid-template-columns: 48% 52%; align-items: start; gap: 2rem;}
}

/*Notebooks*/
@media (min-width: 769px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content p {
    font-size: 1.3rem;
  }
  .button-cta {
    padding: 0.7rem 1.3rem;
    font-size: 1.05rem;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .producto {
    width: 70%;
    max-width: 300px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sobre-nosotros {
    padding: 0 40px;
  }

  .sobre-nosotros h2 {
    font-size: 2.2rem;
  }

  .sobre-nosotros p {
    font-size: 1.05rem;
    }

    .carrito-icono {
        font-size: 1.9rem;
    }
    .carrito-icono span {
        font-size: 0.85rem;
        padding: 3px 7px;
    }

    .contacto-container {
        max-width: 700px;
        margin: 30px auto;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }

    .contacto-container h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .contacto-container p {
        margin-bottom: 30px;
        font-size: 1rem;
    }

    form {
        gap: 20px;
    }

    .form-row {
        flex-direction: row;
        gap: 20px;
    }

    .form-group label {
        font-size: 1rem;
        margin-bottom: 8px;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px;
        font-size: 1rem;
        border-radius: 6px;
    }

    button {
        padding: 12px 25px;
        font-size: 1rem;
        width: auto;
    }

    .success-message {
        font-size: 1rem;
        margin-top: 20px;
    }

}

/*Pcs medianas*/
@media (min-width: 1025px) {
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.5rem;
  }
  .button-cta {
    padding: 0.75rem 1.5rem;
    font-size: 1.05rem;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .producto {
    width: 90%;
    max-width: 300px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sobre-nosotros {
    padding: 0 40px;
  }

  .sobre-nosotros h2 {
    font-size: 2.2rem;
  }

  .sobre-nosotros p {
    font-size: 1.05rem;
  }

    #seccion-productos {
        grid-template-columns: repeat(3, 1fr);
    }

    .carrito-icono {
        font-size: 2rem;
    }
    .carrito-icono span {
        font-size: 0.9rem;
        padding: 4px 8px;
    }

    .contacto-container {
        max-width: 800px;
        margin: 50px auto;
    }

}

/*PCs grandes*/
@media (min-width: 1200px) {
  .hero-content h1 {
    font-size: 4rem;
  }
  .hero-content p {
    font-size: 1.8rem;
  }
  .button-cta {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .producto {
    width: 250px;
    max-width: 250px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sobre-nosotros {
    padding: 0 40px;
  }

  .sobre-nosotros h2 {
    font-size: 2.2rem;
  }

  .sobre-nosotros p {
    font-size: 1.05rem;
    }

    .carrito-icono {
        font-size: 2.2rem;
    }
    .carrito-icono span {
        font-size: 1rem;
        padding: 5px 9px;
    }
}
